*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

.about-section{
    width: 90%;
    min-height: 100vh;
    
}

.about-container{
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: auto;
    padding: 100px;
}
.about-content-section{
    float: left;
    width: 55%;
    align-items: center;
    background-color: #e2e2e2;
    justify-items: center;
    border-radius: 50px 50px;
    padding: 10px 30px 50px 50px;
    min-width: 424px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.photo{
    float: right;
    width: 40%;
    display: block;
    min-width: 280px;
    padding-left: 50px;
}
.photo img{
    width: 100%;
    height: auto;
    border-radius: 500px;
    border-width: 3px;
    border-color: #00acff;
    border-style: solid;

}

.about-content-section .about-head{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    margin: 0px 11vh;
}
.about-content-section .about-content h3{
    margin-top: 20px;
    color: #5d5d5d;
    font-size: 19px;
}
.about-content-section .about-content .p{
    margin-top:10px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
}
.button{
    margin-top: 70px;
}
.button a{
    background-color: #026493;
    padding: 12px 40px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    letter-spacing: 1.5px;
    border-radius:50px;
    margin:0px 35px;
}
.button a:hover{
    background-color: #0f1556;
    color: #fff;
}

@media screen and (max-width:980px) {
    .content-section{
        flex-direction: column;
    }
    .about-container {
        width: 80%;
        display: flex;
        align-items: center;
        margin: auto;
        padding: 100px;
        flex-direction: column;
    }
    .about-content-section {
        float: left;
        width: 55%;
        align-items: center;
        background-color: #e2e2e2;
        justify-items: center;
        border-radius: 50px 50px;
        padding: 10px 30px 50px 50px;
        min-width: auto;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
}