
@font-face{
    font-family: 'Poppins';
    src: url(font\Poppins-Regular.ttf);
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    
}

nav{
    width: 100%;
    height: 80px;
    background-color: #026493;
    line-height: 80px;
    padding: 0px 70px;
    position: fixed;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
}

nav .brand{
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 1.5px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
}


nav .brand p{
    float: left;
    color: aliceblue;
    text-transform: capitalize;
}
.brand a{
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
}
nav ul{
    float: right;
    display: block;
}


nav ul li{
    list-style: none;
    display: inline-block;
}

nav ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 17px;
    padding: 0px 13px;
    transition: 0.5em;
    text-transform: uppercase;
}

nav ul li a:hover{
    color: aqua;
}

.checkbtn{
    font-size: 30px;
    color: #ffffff;
    float: right;
    line-height: 80px;
    display: none;
    cursor: pointer;
    transition: all .5s ;
}

#check{
    display: none;
    transition: all .5s ;
}

/* #check:checked ~ .pages{
    left: 0%;
    display: block;
} */

.pages-item:hover {
    background-color: #ffffff;
    color: black;
    border-radius: 10px;
    padding: 10px;
  }

.nav-bar-one{
    width: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    height: 8px;
    margin-top: 20px;
    transition: 0.4s;
} 

.nav-bar-two{
    width: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    height: 8px;
    margin-top: 5px;
    transition: 0.4s;
}

.nav-bar-thre{
    width: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    height: 8px;
    margin-top: 5px;
    transition: 0.4s;
}
@media screen and (max-width:950px) {
    .pages{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #024463;
        text-align: center;
        top: 80px;
        left: 0;
        transition: all .5s ;
        display: none;
    }
    .pages li{
        display: block;
    }
    #check:checked ~ div .nav-bar-two {
        /* opacity: 0; */
        transform: translate(193px,0px);
      }
    #check:checked ~ div .nav-bar-one {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px) ;
    }
    #check:checked ~ div .nav-bar-thre {
        -webkit-transform: rotate(45deg) translate(-11px, -9px);
        transform: rotate(45deg) translate(-11px, -8px);
    }
    /* #check:checked ~ div .checkbtn {
        transform: rotate(360deg) 
    } */
    #check:checked ~ div .pages{
        display: block;
      }
    .checkbtn{
        display: block;
    }
}